̣
/*

        Articulo de compra:162*285px

    */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    color: #395d00;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

a {
    text-decoration: none;
    color: #000;
}

.cabezal-de-pagina {
    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: 2px 2px 10px #aaaaaa;
    background-color: #c0eb83;
}

.cabezal-de-pagina-titulo-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabezal-de-pagina-titulo {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.cabezal-de-pagina-subtitulo {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.navbar-item {
    padding: 10px;
    border-radius: 5px;
}

.navbar-item:hover {
    background-color: #395d00;
    color: #fff;
    transition: 350ms;
}

.contenido-principal {
    flex-basis: 1200px;
    margin: 25px auto 25px auto;
}

.acerca-de-nosotros-descripciones {
    width: inherit;
    text-align: justify;
    padding: 30px;
}

.acerca-de-nosotros {
    background-color: #fff;
    box-shadow: 2px 2px 10px #aaa;
    border-radius: 15px;
    padding: 30px;

}

.iframe-mapa-ita-va {
    width: 100%;
    height: 600px;

}

.metodos-de-pago-box {
    width: 1200px;
    height: 500px;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px 2px 10px #aaa;
    border-radius: 15px;
}

.metodos-de-pago-img-fondo {
    width: 500px;
    height: 100%;
    border-radius: 15px 0 0 15px;
    background-image: url(../images/metodos-de-pago.jpg);
    background-size: cover;
}

.metodos-de-pago-info {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px
}

.metodos-de-pago-imgs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20px;
}

.metodo-de-pago-img-item:first-child {
    height: 35px;
}
.metodo-de-pago-img-item {
    height: 50px;
}

.productos-box {
    width: 1000px;
    margin: 25px auto 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 12px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #aaa;
    background-color: #ffffff;
}

.productos-titulo-box {
    margin-left: 20px;
    align-self: start;
}

.productos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.articulo-compra-box {
    height: 285px;
    width: 162px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px #aaa;
    border-radius: 5px;
    padding: 10px;
}

.articulo-carga-virtual {
    height: 350px;
    width: 300px;
}

.articulo-compra-box:hover {
    color: #c0eb83
}

.articulo-compra-img-box {
    height: 50%;

}

.articulo-descripcion {
    margin: 0;
    grid-area: titulo;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articulo-compra-img {
    height: 100%;
}

.articulo-compra-img:hover {
    transform: scale(1.1);
    transition: 250ms;
}

.articulo-compra-descripcion {
    font-size: .9rem;
    width: 100%;
    text-align: justify;
    display: grid;
    grid-template-rows: repeat(3, 20px);
    grid-template-areas:
        "titulo"
        "descuento"
        "precio";
}

.articulo-compra-descripcion .articulo-precio {
    /*¿Por que la doble clase?*/
    font-size: 1.2rem;
    color: rgb(0, 163, 92) !important;
    margin: 0;
}

.articulo-precio {
    grid-area: precio;
}

.articulo-precio-desc {
    font-size: .8rem;
    color: #395d00 !important;
    margin: 0;
    grid-area: descuento;
}

#footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #395d00;
    bottom: 0%;
}

#footer-items {
    display: flex;
    gap: 10px;
}

.bi {
    width: 30px;
    height: 30px;
    color: #fff;
}

.bi:hover {
    color: #c0eb83;
    transition: 250ms;
}